<div class="container">
  <mat-card-title class="mt-3"> Personal </mat-card-title>
  <hr>
  <div class="row">
    <!-- USUARIO -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center azul" [routerLink]="['usuario']">
          <mat-card-header>
            <mat-card-title class="text-white">Usuario</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>account_circle</mat-icon>
          </mat-card-content>
      </mat-card>
    </div>
    <!-- DOCENTE -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center azul" [routerLink]="['docente']">
        <mat-card-header>
          <mat-card-title class="text-white">Docente</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>school</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-card-title class="mt-3"> Universidad </mat-card-title>
  <hr>
  <div class="row">
    <!-- PERIODO -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center rojo">
        <mat-card-header>
          <mat-card-title class="text-white">Periodo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>account_balance</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- SEMESTRE -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center rojo">
        <mat-card-header>
          <mat-card-title class="text-white">Semestre</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>today</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- MATERIA -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center rojo">
        <mat-card-header>
          <mat-card-title class="text-white">Materia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>chrome_reader_mode</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- SECCION -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center rojo">
        <mat-card-header>
          <mat-card-title class="text-white">Seccion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>directions_walk</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- AULA -->
    <div class="col-3 mt-3">
      <mat-card class="d-flex justify-content-center align-items-center rojo">
        <mat-card-header>
          <mat-card-title class="text-white">Aula</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>local_offer</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
